<div class="wrapper">
    {{#each data}}
    <div class="channel">
        <h1>{{channel}}</h3>
            {{#each program}}
            <div class="program">
                <p>{{start}} {{title}}
            </div>
            {{/each}}
    </div>
    {{/each}}
</div>